<li class="single-result" data-litterbox-id="<%= litterbox.id %>" style="background-image: url(<%= litterbox.photo_url %>);">
	<a href="<%= '/litter_boxes/' + litterbox.id %>">
		<div class="price">
			<%= litterbox.price %>
		</div>

		<div class="details">
			<div class="name">
				<%= litterbox.name %>
			</div>

			<div class="distance">
				<%= litterbox.distance.toFixed(2) %> miles
			</div>

			<div class="rating">
				<% for(i = 0; i < litterbox.average_rating; i++) { %>
					<i class="symbol s-paw active"></i>
				<% } %>

				<% for(i = 0; i < 5 - litterbox.average_rating; i++) { %>
					<i class="symbol s-paw"></i>
				<% } %>
				<span class="rating-count">(<%= litterbox.number_of_ratings %> ratings)</span>
			</div>
		</div>
	</a>
</li>
