<div class="sidebar">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, :html => {:class => "pure-form"}, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <fieldset>
      <%= f.label :email, class: "stacked" %>
      <%= f.email_field :email, autofocus: true %>
    </fieldset>

    <fieldset>
      <%= f.label :password, class: "stacked" %>
      <% if @minimum_password_length %>
	<em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </fieldset>

    <fieldset>
      <%= f.label :password_confirmation, class: "stacked" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </fieldset>

    <div class="actions">
      <%= f.submit "Sign up", class: "pure-button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
