<div class="search-bar">
	<form action="<%= search_show_path %>" method="GET" class="pure-form">
		<input type="text" name="location" class="location" placeholder="Springfield, MO 65806" value="<%= search[:location] %>" />
		<span class="date-wrapper">
			<input type="text" class="start-date" name="start_date" placeholder="11/06/2015" value="<%= search[:start_date] %>" />
		</span>
		<span class="date-wrapper">
			<input type="text" class="end-date" name="end_date" placeholder="11/07/2015" value="<%= search[:end_date] %>"/>
		</span>

		<% cat_options = [['1 cat', 1], ['2 cats', 2], ['3 cats', 3], ['4 cats', 4], ['5 cats', 5]] %>
		<%= select_tag(:number_of_cats, options_for_select(cat_options, search[:number_of_cats].to_i)) %>

		<button class="pure-button pure-button-primary">Find a litter box</button>
	</form>
</div>