<div class="map-view pure-u-5-5" id="map"></div>

<div class="details">
  <%= form_for(@litter_box, :html => { class: "pure-form" }) do |f| %>
    <% if @litter_box.errors.any? %>
      <div id="error_explanation">
	<h2><%= pluralize(@litter_box.errors.count, "error") %> prohibited this litter_box from being saved:</h2>

	<ul>
	<% @litter_box.errors.full_messages.each do |message| %>
	  <li><%= message %></li>
	<% end %>
	</ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :photo %>
      <%= f.file_field :photo %>
    </div>

    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "pure-input" %>
    </div>
    <div class="field">
      <%= f.label :capacity %>
      <%= f.number_field :capacity, class: "pure-input" %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "pure-input" %>
    </div>
    <div class="field geo">
      <%= f.label :city %>
      <%= f.text_field :city, class: "pure-input" %>
    </div>
    <div class="field geo">
      <%= f.label :state %>
      <%= f.text_field :state, class: "pure-input" %>
    </div>
    <div class="field geo">
      <%= f.label :address_line_1 %>
      <%= f.text_field :address_line_1, class: "pure-input" %>
    </div>
    <div class="field geo">
      <%= f.label :address_line_2 %>
      <%= f.text_field :address_line_2, class: "pure-input" %>
    </div>
    <div class="field geo">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: "pure-input" %>
    </div>
    <div class="field">
      <%= f.label :price, "Price per day" %>
      <%= f.text_field :price, class: "pure-input" %>
    </div>
    <div class="field">
      <%= f.label :number_of_adults %>
      <%= f.number_field :number_of_adults, class: "pure-input" %>
    </div>
    <div class="field">
      <%= f.label :number_of_children %>
      <%= f.number_field :number_of_children, class: "pure-input" %>
    </div>
    <div class="field">
      <%= f.label :number_of_pets %>
      <%= f.number_field :number_of_pets, class: "pure-input" %>
    </div>

    <%= f.fields_for(:unavailabilities) do |builder| %>
      <%= render 'unavailability_fields', f: builder %>
    <% end %>

    <hr />

    <%= link_to_add_fields '+ Add an unavailable date', f, :unavailabilities %>

    <div class="actions">
      <%= f.submit "Create Litter!", class: "pure-button pure-button-primary" %>
    </div>
  <% end %>
</div>
