<div class="map-view" id="map" style="height: 400px; width: 500px;"></div>

<%= form_for(@litter_box) do |f| %>
  <% if @litter_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@litter_box.errors.count, "error") %> prohibited this litter_box from being saved:</h2>

      <ul>
      <% @litter_box.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>

  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field geo">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field geo">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field geo">
    <%= f.label :address_line_1 %><br>
    <%= f.text_field :address_line_1 %>
  </div>
  <div class="field geo">
    <%= f.label :address_line_2 %><br>
    <%= f.text_field :address_line_2 %>
  </div>
  <div class="field geo">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :number_of_adults %><br>
    <%= f.number_field :number_of_adults %>
  </div>
  <div class="field">
    <%= f.label :number_of_children %><br>
    <%= f.number_field :number_of_children %>
  </div>
  <div class="field">
    <%= f.label :number_of_pets %><br>
    <%= f.number_field :number_of_pets %>
  </div>
  <%= f.fields_for(:unavailabilities) do |builder| %>
    <%= render 'unavailability_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields 'Add Unavailability', f, :unavailabilities %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
