<% if f.object.end_time.blank? || f.object.end_time > Date.today %>
  <fieldset class="unavailability">
    <div class="field">
      <%= f.label :start_time %>
      <span class="date-wrapper">
        <%= f.text_field :start_time, value: f.object.start_time.try(:strftime, '%m/%d/%Y') %>
      </span>
    </div>

    <div class="field">
      <%= f.label :end_time %>
      <span class="date-wrapper">
        <%= f.text_field :end_time, value: f.object.end_time.try(:strftime, '%m/%d/%Y') %>
      </span>
    </div>

    <%= f.hidden_field :_destroy %>
    <%= link_to 'Remove', '#', class: 'remove_fields pure-button' %>
  </fieldset>
<% end %>
