<div class="litterbox-header" style="background-image: url(<%= @litter_box.photo.url %>)"></div>

<div class="litterbox-view-container">
	<div class="details">
		<section class="centered">
			<h1>asdfsdf<%= @litter_box.name %></h1>
			<div class="location">
				<%= @litter_box.city %>, <%= @litter_box.state %> <%= @litter_box.zip %>
			</div>
			<div class="rating">
				<span class="symbol s-paw active"></span>
				<span class="symbol s-paw active"></span>
				<span class="symbol s-paw"></span>
				<span class="symbol s-paw"></span>
				<span class="symbol s-paw"></span>
				<span class="rating-count">(5 ratings)</span>
			</div>
		</section>
	</div>

	<section class="sec-litterbox-view centered">
		<div class="left">

			<div class="statistics">
				<h1>About <%= @litter_box.name %></h1>

				<div class="some-stat">
					<label>Capacity:</label>
					<%= @litter_box.capacity %>
				</div>

				<div class="some-stat">
					<label>Description:</label>
					<p>
						<%= @litter_box.description %>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>

				<div class="some-stat">
					<label>Price:</label>
					<%= @litter_box.price %>
				</div>

				<div class="some-stat">
					<label>Number of adults:</label>
					<%= @litter_box.number_of_adults %>
				</div>

				<div class="some-stat">
					<label>Number of children:</label>
					<%= @litter_box.number_of_children %>
				</div>

				<div class="some-stat">
					<label>Number of pets:</label>
					<%= @litter_box.number_of_pets %>
				</div>
			</div>
		</div>

		<div class="right">
			<div class="book-right-meow">
				<% if !current_user.blank? && current_user.litter_box == @litter_box %>
				  <%= link_to 'Edit', edit_litter_box_path(@litter_box) %> |
				<% else %>
					<h1>book right meow</h1>
				<% end %>
			</div>
		</div>
	</section>
</div>

<div class="review-container">
	<section class="sec-litterbox-reviews centered">
		<div class="headline">
			<h1>Ratings</h1>
			<div class="rating">
				<span class="symbol s-paw active"></span>
				<span class="symbol s-paw active"></span>
				<span class="symbol s-paw"></span>
				<span class="symbol s-paw"></span>
				<span class="symbol s-paw"></span>
				<span class="rating-count">(5 ratings)</span>
			</div>
		</div>

		<div class="review">
			<h2>Someone's rating</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="review">
			<h2>Someone's rating</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>
</div>
