<p id="notice"><%= notice %></p>

<div class="litterbox-header" style="background-image: url(<%= @litter_box.photo.url %>)"></div>

<div class="litterbox-view-container">
	<div class="details">
		<h1><%= @litter_box.name %></h1>
		<p>
			<strong>City:</strong>
			<%= @litter_box.city %>
		</p>

		<p>
			<strong>State:</strong>
			<%= @litter_box.state %>
		</p>

		<p>
			<strong>Zip:</strong>
			<%= @litter_box.zip %>
		</p>
	</div>

	<section class="sec-litterbox-view centered">
		<div class="left">

			<div class="statistics">
				<p>
					<strong>Capacity:</strong>
					<%= @litter_box.capacity %>
				</p>

				<p>
					<strong>Description:</strong>
					<%= @litter_box.description %>
				</p>

				<p>
					<strong>Price:</strong>
					<%= @litter_box.price %>
				</p>

				<p>
					<strong>Number of adults:</strong>
					<%= @litter_box.number_of_adults %>
				</p>

				<p>
					<strong>Number of children:</strong>
					<%= @litter_box.number_of_children %>
				</p>

				<p>
					<strong>Number of pets:</strong>
					<%= @litter_box.number_of_pets %>
				</p>

				<% if !current_user.blank? && current_user.litter_box == @litter_box %>
				  <%= link_to 'Edit', edit_litter_box_path(@litter_box) %> |
				<% end %>
				<%= link_to 'Back', litter_boxes_path %>
			</div>
		</div>

		<div class="right">
			<div class="book-right-meow">
				<h1>book right meow</h1>
			</div>
		</div>
	</section>
</div>

<section class="sec-litterbox-reviews centered">
	<h1>Ratings</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
