<%= form_for(@transaction, :html => {:class => 'pure-form'}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :litter_box_id %>

  <div class="fields">
    <div class="field add_fields date-wrapper">
      <%= f.label :check_in %>
      <%= f.text_field :check_in, class: "start_date date_fields", name: "start_date" %>
    </div>

    <div class="add_fields date-wrapper">
      <%= f.label :check_out %>
      <%= f.text_field :check_out, class: "end_date date_fields", name: "end_date" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Book Meow!", class: "pure-button pure-button-primary" %>
  </div>
<% end %>