<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= @page_title.try(:html_safe) || "Hairbnb" %></title>
		<%= csrf_meta_tags %>
		<link type="text/css" rel="stylesheet" href="/assets/css/pure-min.css">
		<link type="text/css" rel="stylesheet" href="/assets/css/style.css" media="screen">
		<link href="/favicon.ico" rel="shortcut icon">
	</head>

	<body>
		<header>
			<h1><a href="/">Hairbnb</a></h1>

			<div class="pure-menu pure-menu-horizontal">
				<ul class="pure-menu-list">
					<li class="pure-menu-item">
						<%= link_to 'Sign Up', new_user_registration_path, class: 'pure-menu-link' %>
					</li>
					<li class="pure-menu-item">
						<%= link_to 'Sign In', new_user_session_path, class: 'pure-menu-link' %>
					</li>
					<li class="pure-menu-item">
						<%= link_to 'Sign In as Guest', '#', class: 'pure-menu-link' %>
					</li>
				</ul>
			</div>
		</header>

		<%= yield %>

		<footer>
			<div class="container">
				<div class="pure-menu pure-menu-horizontal">
					<ul class="pure-menu-list">
						<li class="pure-menu-item"><a href="#" class="pure-menu-link">FAQ</a></li>
					</ul>
				</div>

				<div>
					&copy; yer mum
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="/assets/js/main.js"></script>
	</body>
</html>
